debuginfod
linux-syms
libswiftRuntime.dylib
syms
symsrv
experiments
.DS_Store
.build
.vscode
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved
__pycache__/
*.pyc
